{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5"><!--adds a container-->
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Book World!!</p>
                </div>
            </div>
        </header>

        <div class="container"> 
            <div class="row">
                <center>
                    <div class="col-8">  <!--adds 8 columns-->
                        <p align='justify'>
                            <br/><br/><br/>
Welcome to Book World, where the realms of literature and practicality converge to create a unique space for both avid readers and diligent learners. Immerse yourself in our extensive collection of computer science books, carefully chosen to accommodate everyone from beginners to seasoned professionals. From coding essentials to cutting-edge technologies, Book World is your gateway to staying ahead in the dynamic field of computer science.
<br/>
<br/>
But Book World goes beyond just books – we've curated a selection of top-quality stationary items to complement your intellectual journey. Elevate your study space with sleek notebooks, high-performance pens, and other essentials that blend seamlessly with your learning environment. We believe that the right tools enhance the learning experience, turning your workspace into a haven of productivity.
<br/>
<br/>
Step into Book World, where knowledge meets practicality, and the love for learning is complemented by the joy of well-crafted stationary. Join us in creating a community where the pursuit of knowledge is seamlessly intertwined with the pleasure of putting pen to paper. Welcome to a world where both books and stationary play essential roles in shaping your intellectual endeavors.
<br/><br/><br/>
                        </p>    
                    </div>
                </center>
            </div>
        </div>

{% endblock %}